<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is the super star mahesh babu html page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, enim odio. Quaerat consequuntur, quidem similique necessitatibus unde reprehenderit porro totam. Possimus commodi impedit vero officia tempore doloremque saepe, laborum labore.</p>
        <a href="{% url 'tolly:prabhas' %}">navigation from prabhas</a> <br>
        <a href="{% url 'bolly:salman' %}"> go to salman</a><br>
        <a href="{% url  'bolly:tiger' %}"> Go To tiger </a>
    </center>
</body>
</html>