<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prabhas</title>
</head>
<body>
    <center>
        <h1>this the young rebal star prabhas html page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, minus tempore a nam perferendis voluptate nulla modi eum accusantium quasi ipsa nemo ratione debitis reiciendis omnis esse atque, doloribus magnam.</p>
        <a href="{% url 'tolly:mahesh' %}">  navigation from mahesh</a><br>
        <a href="{% url 'bolly:salman' %}"> navigation to salman</a><br>
        <a href="{% url 'bolly:tiger' %}"> navigation to tiger sroof</a>
    </center>
</body>
</html>