<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this page is tiger sroof only</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolores, obcaecati voluptatibus nobis eos sit hic cupiditate in architecto, vitae veniam? Saepe facere voluptas voluptates ipsum, quidem voluptatem rerum reprehenderit!</p>
    <a href="{% url 'bolly:salman' %}">navigation to salman</a> <br>
    <a href="{% url 'tolly:mahesh' %}">Go To mahesh</a> <br>
    <a href="{% url 'tolly:prabhas' %}"> Go To prabhas</a>
    </center>
</body>
</html>